/** Estilo del modo claro */
:root {
	--fondo1: rgb(238, 238, 238);
	--fondo2: rgb(194, 194, 194);
	--fondo3: rgb(170, 170, 170);
	--borde1: rgb(68, 68, 68);
	--borde2: rgb(102, 102, 102);
	--fuente: rgb(17, 17, 17);
	--azul: rgb(64, 64, 255);
	--verde: rgb(70, 209, 70);
	--amarillo: rgb(210, 210, 0);
	--naranja: rgb(255, 166, 0);
	--rojo: rgb(255, 0, 0);
	--negro: rgb(0, 0, 0);
}