/** Estilo web principal */
body {
	min-height: 100%;
	margin: 0;
	font-family: sans-serif;
	background-color: var(--fondo1);
	color: var(--fuente);
}

#información>div {
	margin: 20px;
}

#información>div>span {
	display: block;
	padding: 10px;
}

#opciones {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

#botón_idioma {
	margin: 10px 5px 10px 10px;
	padding: 0px;
	border: 0;
	background: transparent;
	background-color: var(--fondo2);
	color: var(--fuente);
	border-radius: 20%;
	overflow: scroll;
	font-size: 28px;
	width: 32px;
	height: 32px;
	appearance: none;
}

#botón_idioma>option {
	background-color: var(--fondo2);
	color: var(--fuente);
}

#botón_idioma:hover {
	cursor: pointer;
	opacity: 80%;
}

#botón_tema {
	width: 28px;
	margin: 10px 10px 10px 5px;
	padding: 0;
}

#botón_tema:hover {
	cursor: pointer;
	opacity: 80%;
}

header {
	padding: 0.1px;
	text-align: center;
	border-bottom: 2px solid;
	background-color: var(--fondo2);
	border-bottom-color: var(--borde1);
}

main {
	display: flex;
}

ul.accesos {
	margin: 0px;
	padding: 0px;
	display: flex;
}

.accesos>li {
	flex: auto;
	padding: 14px;
	list-style-type: none;
	display: inline;
	border: 1px solid;
	border-color: var(--borde2);
}

#información {
	width: 14%;
	padding: 40px;
	border-right: 2px solid;
	background-color: var(--fondo3);
	border-right-color: var(--borde1);
}

#proyectos {
	min-height: 90vh;
	width: 60%;
	padding: 60px;
}

.experiencias {
	width: 26%;
	margin: 20px;
	padding: 30px;
	border-left: 1px solid;
	border-left-color: var(--borde1);
}

.experiencias>div>ul {
	list-style-type: none;
}

footer {
	padding: 20px 20px 20px 40px;
	border-top: 1px solid;
	background-color: var(--fondo3);
	border-top-color: var(--borde1);
}

footer>ul {
	list-style-type: none;
	display: flex;
	padding-left: 10px;
}

footer>ul>li {
	display: block;
	margin-right: 20px;
}

.azul {
	color: var(--azul);
}

.verde {
	color: var(--verde);
}

.amarillo {
	color: var(--amarillo);
}

.naranja {
	color: var(--naranja);
}

.rojo {
	color: var(--rojo);
}

.negro {
	color: var(--negro);
}