/** Estilo web principal */
/*# FALTA REFACTORIZAR */
body {
	min-height: 100%;
	margin: 0;
	font-family: sans-serif;
}

#opciones {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

#botón_tema {
	width: 28px;
	margin: 10px 10px 10px 5px;
	padding: 0;
}

#botón_idioma {
	margin: 10px 5px 10px 10px;
	padding: 0px;
	border: 0;
	background: none;
	overflow: scroll;
	font-size: 28px;
	width: 32px;
	height: 32px;
}

#botón_tema:hover {
	cursor: pointer;
	opacity: 80%;
}

#botón_idioma:hover {
	cursor: pointer;
	opacity: 80%;
}

header {
	padding: 0.1px;
	text-align: center;
	border-bottom: 2px solid;
}

main {
	display: flex;
}

ul.accesos {
	margin: 0px;
	padding: 0px;
	display: flex;
}

.accesos>li {
	flex: auto;
	padding: 14px;
	list-style-type: none;
	display: inline;
	border: 1px solid;
}

.información {
	width: 14%;
	padding: 40px;
	border-right: 2px solid;
}

.proyectos {
	min-height: 90vh;
	width: 60%;
	padding: 60px;
}

.experiencias {
	width: 26%;
	margin: 20px;
	padding: 30px;
	border-left: 1px solid;
}

.experiencias>div>ul {
	list-style-type: none;
}

footer {
	padding: 20px 20px 20px 40px;
	border-top: 1px solid;
}

footer>ul {
	list-style-type: none;
	display: flex;
	padding-left: 10px;
}

footer>ul>li {
	display: block;
	margin-right: 20px;
}