/*# FALTA REFACTORIZAR */
/*# Poner colores en el estilo */
.azul {
	color: blue;
}

.verde {
	color: green;
}

.amarillo {
	color: yellow
}

.naranja {
	color: orange;
}

.rojo {
	color: red;
}

.negro {
	color: black;
}

body {
	min-height: 100%;
	margin: 0;
}

header {
	padding: 0.1px;
	text-align: center;
}

#tema_botón {
	position: absolute;
	top: 10px;
	right: 10px;
}

main {
	display: flex;
}

ul.acc {
	margin: 0px;
	padding: 0px;
	display: flex;
}

.acc>li {
	flex: auto;
	padding: 14px;
	list-style-type: none;
	display: inline;
}

.info {
	width: 14%;
	padding: 40px;
}

.proy {
	min-height: 90vh;
	width: 60%;
	padding: 60px;
}

.exp {
	width: 26%;
	margin: 20px;
	padding: 30px;
}

.exp>.leng>ul {
	list-style-type: none;
}

footer {
	padding: 20px 20px 20px 40px;
}

footer>ul {
	list-style-type: none;
	display: flex;
	padding-left: 10px;
}

footer>ul>li {
	display: block;
	margin-right: 20px;
}