html, body {
	background-color: #161616;
	color: #CFCFCF;
}

header {
	background-color: #0A0A0A;
	border-bottom: 2px solid #444444;
}

.acc > li {
	border: #141414 solid 1px;
	border-right: #141414 solid 1px;
	border-left: #141414 solid 1px;
}

.info {
	border-right: 2px solid #444444;
	background-color: #0F0F0F;
}

.exp {
	border-left: 1px solid #444444;
}

footer {
	border-top: 1px solid #444444;
	background-color: #0F0F0F;
}