/** Estilo web principal */
body {
	min-height: 100%;
	margin: 0;
	background-color: var(--fondo1);
	font-family: sans-serif;
	color: var(--fuente);
}

h2 > a {
	color: var(--fuente);
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#opciones {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

#botón_idioma {
	width: 32px;
	height: 32px;
	margin: 10px 5px 10px 10px;
	padding: 0px;
	border: 0;
	background: transparent;
	border-radius: 20%;
	background-color: var(--fondo2);
	font-size: 28px;
	color: var(--fuente);
}

#botón_idioma:hover {
	cursor: pointer;
	opacity: 80%;
}

#botón_tema {
	width: 28px;
	margin: 10px 10px 10px 5px;
	padding: 0;
}

#botón_tema:hover {
	cursor: pointer;
	opacity: 80%;
}

header {
	padding: 0.1px;
	border-bottom: 2px solid;
	border-bottom-color: var(--borde1);
	background-color: var(--fondo2);
	text-align: center;
}

main {
	display: flex;
}

#información {
	width: 14%;
	padding: 40px;
	border-right: 2px solid;
	border-right-color: var(--borde1);
	background-color: var(--fondo3);
}

#perfil {
	width: 200px;
}

#información > div {
	margin: 20px;
}

#información > div > span {
	display: block;
	padding: 10px;
}

#proyectos {
	width: 60%;
	min-height: 90vh;
	padding: 0px 60px 60px 60px;
}

#proyectos > div {
	margin-top: 60px;
}

#proyectos > div > img {
	max-width: 800px;
	max-height: 400px;
	display: block;
	margin: auto;
}

.experiencias {
	width: 16%;
	margin: 20px;
	padding: 0 0 0 20px;
	border-left: 1px solid;
	border-left-color: var(--borde1);
}

#idiomas > ul > li {
	height: 25px;
}

footer {
	padding: 40px 20px 40px 40px;
	border-top: 1px solid;
	border-top-color: var(--borde1);
	background-color: var(--fondo3);
}

footer > ul {
	display: flex;
	padding-left: 10px;
}

footer > ul > li {
	display: block;
	margin-right: 20px;
}

.azul {
	color: var(--azul);
}

.verde {
	color: var(--verde);
}

.amarillo {
	color: var(--amarillo);
}

.naranja {
	color: var(--naranja);
}

.rojo {
	color: var(--rojo);
}

.negro {
	color: var(--negro);
}