/** Estilo principal */
body {
	min-height: 100%;
	margin: 0;
	background-color: var(--fondo1);
	font-family: sans-serif;
	color: var(--fuente);
}

h2 > a {
	color: var(--fuente);
}

a:hover {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* OPCIONES */

#opciones {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

.oculto {
	display: none;
}

.visible {
	display: block;
}

/* IDIOMA */

#botón_idioma {
	width: 32px;
	height: 32px;
	margin: 10px 5px 10px 10px;
	padding: 0px;
	border: 0;
	background: transparent;
	border-radius: 20%;
	font-size: 28px;
	color: var(--fuente);
}

#botón_idioma:hover {
	cursor: pointer;
	opacity: 80%;
}

#lista_idioma {
	padding: 2px;
	border: 2px solid var(--borde1);
	background-color: var(--fondo2);
}

#lista_idioma > li {
	padding: 8px;
}

#lista_idioma > li:hover {
	cursor: pointer;
	opacity: 80%;
}

#lista_idioma > li > img {
	position: relative;
	top: 2px;
}

/* TEMA */

#botón_tema {
	width: 28px;
	margin: 10px 10px 10px 5px;
	padding: 0;
}

#botón_tema:hover {
	cursor: pointer;
	opacity: 80%;
}

/* ENCABEZADO */

header {
	padding: 0.1px;
	border-bottom: 2px solid var(--borde1);
	background-color: var(--fondo2);
	text-align: center;
}

main {
	display: flex;
}

/* INFORMACIÓN */

#información {
	max-width: 14vw;
	width: 14%;
	padding: 40px;
	border-right: 2px solid;
	border-right-color: var(--borde1);
	background-color: var(--fondo3);
}

#perfil {
	width: 100%;
	max-width: max-content;
}

#información > div {
	margin: 20px;
}

#información > div > span {
	display: block;
	padding: 10px;
}

/* PROYECTOS */

#proyectos {
	width: 60%;
	min-height: 90vh;
	padding: 0px 60px 60px 60px;
}

#proyectos > section {
	margin-top: 60px;
}

#proyectos > section > img {
	max-width: 800px;
	max-height: 400px;
	display: block;
	margin: auto;
}

/* EXPERIENCIAS */

.experiencias {
	width: 16%;
	margin: 20px;
	padding: 0 0 0 20px;
	border-left: 1px solid;
	border-left-color: var(--borde1);
}

#idiomas > ul > li {
	height: 25px;
}

/* PIE DE PÁGINA */

footer {
	padding: 40px 20px 40px 40px;
	border-top: 1px solid;
	border-top-color: var(--borde1);
	background-color: var(--fondo3);
}

footer > ul {
	display: flex;
	padding-left: 10px;
}

footer > ul > li {
	display: block;
	margin-right: 20px;
}

/* COLORES */

.azul {
	color: var(--azul);
}

.verde {
	color: var(--verde);
}

.amarillo {
	color: var(--amarillo);
}

.naranja {
	color: var(--naranja);
}

.rojo {
	color: var(--rojo);
}

.negro {
	color: var(--negro);
}